body {
    background-color: #F7F3F2;
}
.dropdown {
    padding: 5px;
    border: 0px;
    background-color: #E3F2FD;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.column img {
    //float: left;
    //width: 750px;
    height: 770px;
}

.column .container {
    margin-top: 5%;
    //margin-right: 30%;
    width:90%;  
}

.column {
    float:left;
    width: 50%;
    //text-align:center;   
}

@media only screen and (max-width: 1015px){
    .column{
        width:100%;
    }

    .column img{
        height: 500px;
    }
}

.btn-default {
    background: #18306E;
    color: #fff;
}
