body {
    background-color: #F7F3F2;
}
/*
.dropdown {
    padding: 5px;
    border: 0px;
    background-color: #E3F2FD;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
*/

.column img {
    //float: left;
    //width: 750px;
    height: 770px;
}

.column .container {
    margin-top: 5%;
    //margin-right: 30%;
    width:90%;  
}

.column {
    float:left;
    width: 50%;
    //text-align:center;   
}
.error{
    color: red;
    text-align: center;
}
.select:invalid {
    color: white;
    background-color: #18306E;
}
.container{

}
.img-container {
    width: 100%;
    height: 100px;
}
.ruteSelectionContainer {
    margin-top: 15px;
    width: 40%;
    margin-left: 30%;
}
.selectDestinasjon {
    height: 55px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    background-color: #18306E;
    color: white;
    font-weight: bold;
    border-color: #18306E;
    font-size: 20px;
    display: block;
    padding: 0;
}
.selectionInlineContainer {
    display: flex;
    width: 100%;
    margin: 0;
}
.selectionInline {
    display: block;
    margin: 0;
    width: 50%;
}
.reiseSelect {
    width: 100%;
    height: 70px;
}
.btn-default {
    background: #18306E;
    color: #fff;
    height: 40px;
    width: 100%;
    border: 0px;
    font-size: 12pt;
    border-radius: 10px;
}
.btn-search {
    background: #18306E;
    color: #fff;
    height: 70px;
    width: 100%;
    border: 0px;
    font-size: 16pt;
    border-radius: 10px;
}

@media only screen and (max-width: 1015px) {
    .column{
        width:100%;
    }

    .column img{
        height: 500px;
    }
}


